<template>
  <v-app>
    <LeftSidebar />

    <TopNavigation />

    <v-content>
      <nuxt />
    </v-content>

    <Footer />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions, mapMutations } from "vuex";
import TopNavigation from "@/components/layout/TopNavigation.vue";
import LeftSidebar from "@/components/layout/LeftSidebar.vue";
import Footer from "@/components/layout/Footer.vue";

export default Vue.extend({
  name: "ExtendedLayout",
  components: {
    LeftSidebar,
    TopNavigation,
    Footer
  },
  beforeMount() {
    this.calculateInitialDrawer({ vuetify: this.$nuxt.$vuetify });
  },
  mounted() {
    this.getBackendVersion({ axios: this.$axios });
  },
  methods: {
    ...mapMutations({
      calculateInitialDrawer: "layout/calculateInitialDrawer"
    }),
    ...mapActions({
      getBackendVersion: "layout/getBackendVersion"
    })
  }
});
</script>
