<template>
  <v-footer fixed app class="justify-space-around">
    <span>
      {{ $t("versions.version") }} {{ $t("versions.backend") }}
      {{ backendVersion || $t("versions.loading") }}
    </span>
    <span>
      {{ $t("versions.version") }} {{ $t("versions.frontend") }}
      {{ frontendVersion || $t("versions.loading") }}
    </span>
    <span>
      {{ $t("versions.frontend") }} {{ $t("versions.buildTime") }}
      {{ frontendVersionBuildTime || $t("versions.loading") }}
    </span>
  </v-footer>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";

export default Vue.extend({
  name: "Footer",
  computed: mapGetters({
    backendVersion: "layout/getBackendVersion",
    frontendVersion: "layout/getFrontendVersion",
    frontendVersionBuildTime: "layout/getFrontendVersionBuildTime"
  })
});
</script>
