<template>
  <v-navigation-drawer
    v-model="leftSidebarDrawer"
    :mini-variant="leftSidebarMiniVariant"
    :clipped="leftSidebarClipped"
    :temporary="$vuetify.breakpoint.smAndDown"
    fixed
    app
  >
    <v-list>
      <v-list-item
        v-for="(navigationLink, i) in links"
        :key="i"
        :to="navigationLink.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ navigationLink.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="$t(navigationLink.localizationKey)" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import { links } from "@/models/navigationLink";

export default Vue.extend({
  name: "LeftSidebar",
  data() {
    return { links };
  },
  computed: mapGetters({
    leftSidebarClipped: "layout/getLeftSidebarClipped",
    leftSidebarDrawer: "layout/getLeftSidebarDrawer",
    leftSidebarMiniVariant: "layout/getLeftSidebarMiniVariant"
  })
});
</script>
