<template>
  <v-app-bar :clipped-left="leftSidebarClipped" fixed app>
    <v-app-bar-nav-icon @click="handleNavIconClick" />

    <logo />
    <v-toolbar-title v-text="$t(title)" />
    <v-spacer />

    <!-- <div v-else>
        <v-btn text to="/login">
          {{ $t('log-reg.login') }}
        </v-btn>
        <v-btn text to="/login?register">
          {{ $t('log-reg.registration') }}
        </v-btn>
      </div> -->

    <notifications-menu v-if="$auth.loggedIn" />

    <v-menu top :offset-y="offset" :offset-x="offset" :offset-overflow="offset">
      <template v-slot:activator="{ on }">
        <v-btn color="primary" dark v-on="on">
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </template>

      <v-list>
        <div v-if="$auth.loggedIn">
          <v-list-item to="/user">
            <v-icon>mdi-account-edit-outline</v-icon>
            <v-list-item-title>{{ $t("button.settings") }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout()">
            <v-icon>mdi-exit-to-app</v-icon>
            <v-list-item-title>{{ $t("button.exit") }}</v-list-item-title>
          </v-list-item>
        </div>
        <div v-else>
          <v-list-item to="/sign">
            <v-icon>mdi-key</v-icon>
            <v-list-item-title>{{ $t("log-reg.login") }}</v-list-item-title>
          </v-list-item>
        </div>
      </v-list>
    </v-menu>
    <!-- <v-btn id="toggle-dark-mode-btn" icon @click="toggleDarkMode">
        <v-icon>flash_{{ $nuxt.$vuetify.theme.dark ? "on" : "off" }}</v-icon>
      </v-btn>-->
    <!--
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      -->
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import NotificationsMenu from "@/components/notifications/NotificationsMenu.vue";
import Logo from "@/components/Logo.vue";

export default Vue.extend({
  name: "TopNavigation",
  components: {
    Logo,
    "notifications-menu": NotificationsMenu
  },
  computed: mapGetters({
    leftSidebarClipped: "layout/getLeftSidebarClipped",
    leftSidebarDrawer: "layout/getLeftSidebarDrawer",
    leftSidebarMiniVariant: "layout/getLeftSidebarMiniVariant",
    title: "layout/getTitle",
    offset: "layout/getOffset"
  }),
  methods: {
    ...mapActions({
      handleNavIconClickAction: "layout/handleNavIconClick"
    }),
    handleNavIconClick() {
      const vuetify = this.$nuxt.$vuetify;
      this.handleNavIconClickAction({ vuetify });
    },
    toggleDarkMode(): void {
      this.$nuxt.$vuetify.theme.dark = !this.$nuxt.$vuetify.theme.dark;
    },
    logout(): void {
      // Can return promise if needed
      this.$auth.logout();
    }
  }
});
</script>
