<template>
  <v-overflow-btn
    class="my-2"
    :items="dropdown_edit"
    label="Editable Btn"
    editable
    item-value="text"
  />
</template>

<script>
export default {
  name: "Dropdown",
  data: () => {}
};
</script>

<style></style>
