<template>
  <svg
    id="AppMainLogo"
    version="1.0"
    xmlns="http://www.w3.org/2000/svg"
    height="100%"
    viewBox="0 0 1000.000000 300.000000"
    preserveAspectRatio="xMidYMid meet"
    @click="$router.push('/')"
  >
    <g
      transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)"
      :fill="$vuetify.theme.dark ? '#ffffff' : '#000000'"
      stroke="none"
    >
      <path
        d="M7190 2890 l0 -50 455 0 455 0 0 -1395 0 -1395 480 0 480 0 0 1395 0
    1395 460 0 460 0 0 50 0 50 -1395 0 -1395 0 0 -50z"
      />
      <path
        d="M20 1490 l0 -1440 480 0 480 0 0 695 0 695 665 0 665 0 0 -695 0
    -695 50 0 50 0 0 1440 0 1440 -50 0 -50 0 0 -695 0 -695 -665 0 -665 0 0 695
    0 695 -480 0 -480 0 0 -1440z"
      />
      <path
        d="M6635 2814 c-118 -98 -1193 -914 -1213 -922 -4 -1 -18 28 -31 65 -62
    174 -162 344 -279 476 -457 516 -1213 633 -1807 279 -265 -158 -490 -427 -599
    -715 -119 -317 -123 -691 -9 -992 191 -508 616 -853 1152 -935 113 -17 345 -8
    478 19 426 87 796 370 992 758 120 239 173 538 141 803 -6 47 -12 95 -15 107
    -5 20 25 45 222 193 l228 171 3 -1035 2 -1036 480 0 480 0 0 1440 0 1440 -42
    0 c-40 -1 -54 -10 -183 -116z m-2450 -4 c520 -64 951 -410 1114 -896 28 -84
    29 -90 13 -105 -29 -28 -1377 -1039 -1385 -1039 -4 0 -7 460 -7 1023 l0 1023
    88 3 c48 1 128 -3 177 -9z m1183 -1281 c17 -483 -226 -925 -652 -1184 -198
    -121 -457 -190 -686 -183 l-105 3 -3 232 c-2 223 -2 234 18 250 11 10 332 252
    713 539 634 478 693 520 701 500 5 -11 11 -82 14 -157z"
      />
    </g>
  </svg>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "Logo"
});
</script>

<style scoped>
#AppMainLogo:hover {
  cursor: pointer;
}
</style>
