<template>
  <v-col>
    <v-btn color="info" block @click="addStr('bla')">
      Example State
      <v-icon right>
        forward
      </v-icon>
    </v-btn>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import { mapMutations } from "vuex";
export default Vue.extend({
  name: "StoreExample",
  mounted: async () => {
    await this.$store.dispatch("strings/fillWithNames", 3);
  },
  methods: {
    ...mapMutations({
      addStr: "strings/add"
    })
  }
});
</script>

<style></style>
