<template>
  <v-form v-model="valid" lazy-validation @submit.prevent="updateEmail">
    <v-row class="v-row" align="center" justify="center">
      <v-col>{{ $t("user.email") }}</v-col>
      <v-col v-if="!editEmailPressed">
        {{ userInfo.email }}
      </v-col>

      <v-col v-if="editEmailPressed">
        <v-text-field
          ref="editEmailInput"
          v-model.trim="newMail"
          :label="$t('user.email')"
          prepend-icon="mdi-email"
          :rules="editEmailPressed ? formRules.emailRules(this) : []"
          required
        />
      </v-col>

      <v-col align="right">
        <v-btn
          v-if="editEmailPressed"
          :loading="loadingButton"
          :disabled="!valid"
          type="submit"
          icon
          color="green"
        >
          <v-icon>
            mdi-check-circle-outline
          </v-icon>
        </v-btn>

        <v-btn icon @click="toggleEmail">
          <v-icon v-if="!editEmailPressed">
            mdi-pencil
          </v-icon>
          <v-icon v-if="editEmailPressed" color="red">
            mdi-close-circle-outline
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script type="ts">
import Vue from "vue";
import {
  emailRules,
} from "@/utils/validations/formRules";

import { updateUserURI } from "@/consts/endpoints";
import { errorHandlerMixin } from "@/utils/errorHandling/errorHandler";

export default Vue.extend({
  mixins: [errorHandlerMixin],
  data() {
    return {
      updateUserURI,
      valid: false,
      editEmailPressed: false,
      loadingButton: false,
      newMail: this.$auth.user.mail,
      formRules: {
        emailRules,
      },
      userInfo: {
        email: this.$auth.user.mail,
      },
      errorMessages: {
          409: "popups.emailIsInUse"
      }
    };
  },
  methods: {
    toggleEmail() {
      this.editEmailPressed = !this.editEmailPressed;
      this.editPasswordPressed = false;

      if (!this.editEmailPressed) {
        this.newMail = this.userInfo.email;
      }
    },

    async updateEmail() {
      try {
        await this.$axios.$put(this.updateUserURI.email, {
            newMail: this.newMail
        });
        this.editEmailPressed = false;
        this.newMail = this.userInfo.email;
        this.$toast.success(this.$t("popups.successfullRequest")
              + " " + this.$t("popups.confirmationMail"));
      } catch (err) {
        this.displayError(err, this.errorMessages);
      }
    },
  }
});
</script>
