<template>
  <v-form
    ref="passwordForm"
    v-model="valid"
    lazy-validation
    @submit.prevent="updatePassword"
  >
    <v-row class="v-row" align="center" justify="center">
      <v-col>{{ $t("user.password") }} </v-col>
      <v-col v-if="!editPasswordPressed">
        *******
      </v-col>

      <v-col v-if="editPasswordPressed">
        <v-text-field
          v-model.trim="oldPassword"
          :type="showPasswordOld ? 'text' : 'password'"
          :prepend-icon="prependIcon"
          :append-icon="showPasswordOld ? showPasswordIcon : hidePasswordIcon"
          :rules="editPasswordPressed ? formRules.passwordRules(this) : []"
          :label="$t('user.oldPassword')"
          required
          @click:append="showPasswordOld = !showPasswordOld"
        />
        <v-text-field
          v-model.trim="newPassword"
          :type="showPasswordNew ? 'text' : 'password'"
          :prepend-icon="prependIcon"
          :label="$t('user.newPassword')"
          :append-icon="showPasswordNew ? showPasswordIcon : hidePasswordIcon"
          :rules="editPasswordPressed ? formRules.passwordRules(this) : []"
          required
          @click:append="showPasswordNew = !showPasswordNew"
        />
        <v-text-field
          v-model.trim="rePassword"
          :type="showPasswordRe ? 'text' : 'password'"
          :label="$t('user.rePassword')"
          :prepend-icon="prependIcon"
          :append-icon="showPasswordRe ? showPasswordIcon : hidePasswordIcon"
          :rules="
            editPasswordPressed
              ? formRules.passwordReRules(this, this.newPassword)
              : []
          "
          required
          @click:append="showPasswordRe = !showPasswordRe"
        />
      </v-col>

      <v-col align="right">
        <v-btn
          v-if="editPasswordPressed"
          :loading="loadingButton"
          :disabled="!valid"
          type="submit"
          icon
          color="green"
        >
          <v-icon>
            mdi-check-circle-outline
          </v-icon>
        </v-btn>

        <v-btn icon @click="togglePassword">
          <v-icon v-if="!editPasswordPressed">
            mdi-pencil
          </v-icon>
          <v-icon v-if="editPasswordPressed" color="red">
            mdi-close-circle-outline
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script type="ts">
import Vue from "vue";
import {
  passwordRules,
  passwordReRules
} from "@/utils/validations/formRules";

import { updateUserURI } from "@/consts/endpoints";
import { errorHandlerMixin } from "@/utils/errorHandling/errorHandler";


export default Vue.extend({
  mixins: [errorHandlerMixin],
  data() {
    return {
      updateUserURI,
      valid: false,
      editPasswordPressed: false,
      loadingButton: false,
      prependIcon: "mdi-lock",
      showPasswordOld: false,
      showPasswordNew: false,
      showPasswordRe: false,
      showPasswordIcon: "mdi-eye-off",
      hidePasswordIcon: "mdi-eye",
      newPassword: "",
      rePassword: "",
      oldPassword: "",
      formRules: {
        passwordRules,
        passwordReRules
      },
      errorMessages: {
        401: "popups.wrongPassword"
      }
    };
  },
  methods: {
    togglePassword() {
      this.editPasswordPressed = !this.editPasswordPressed;
      this.editEmailPressed = false;
      this.oldPassword = "";
      this.newPassword = "";
      this.rePassword = "";
    },

    async updatePassword() {
      try {
        if (!this.$refs.passwordForm.validate()) {
          return;
        }

        await this.$axios.$put(updateUserURI.password, {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword,
        });

        this.editPasswordPressed = false;
        this.$toast.success(this.$t("popups.successfullRequest"));
      } catch (err) {
        this.displayError(err, this.errorMessages);
      }
      this.newPassword = "";
      this.rePassword = "";
    }
  },
});
</script>
