<template>
  <div>
    <New />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import New from "@/components/New.vue";

export default Vue.extend({
  auth: false,
  components: {
    New
  }
});
</script>

<style></style>
