<template>
  <div>
    <NewsListLong />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import NewsListLong from "@/components/NewsListLong.vue";

export default Vue.extend({
  auth: false,
  components: { NewsListLong }
});
</script>

<style scoped></style>
