<template>
  <ExtendedLayout />
</template>

<script lang="ts">
import Vue from "vue";
import ExtendedLayout from "@/components/layout/ExtendedLayout.vue";

export default Vue.extend({
  name: "DefaultTemplate",
  components: {
    ExtendedLayout
  }
});
</script>
