<template>
  <div>
    <ArchiveList />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ArchiveList from "@/components/ArchiveList.vue";

export default Vue.extend({
  auth: false,
  components: {
    ArchiveList
  }
});
</script>

<style></style>
