<template>
  <div>
    <ComitteeList />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ComitteeList from "@/components/ComitteeList.vue";

export default Vue.extend({
  components: {
    ComitteeList
  }
});
</script>

<style></style>
