<template>
  <div>
    <FaqList />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import FaqList from "@/components/FaqList.vue";
export default Vue.extend({
  auth: false,
  components: {
    FaqList
  }
});
</script>

<style></style>
