<template>
  <div>
    <NotificationInbox />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import NotificationInbox from "@/components/notifications/NotificationInbox.vue";
export default Vue.extend({
  components: {
    NotificationInbox
  }
});
</script>

<style></style>
