<template>
  <v-layout column justify-center align-center>
    <NewsListShort />
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          {{ $t("home.title") }}
        </v-card-title>
        <v-card-text />
        <v-card-actions>
          <v-btn color="success" nuxt to="/sign?register">
            {{ $t("log-reg.registration") }}
          </v-btn>
          <v-spacer />
          <v-btn color="primary" nuxt to="/sign">
            {{ $t("log-reg.login") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
// import { Action } from 'vuex-class'
import { Component, Vue } from "vue-property-decorator";
import NewsListShort from "../components/NewsListShort.vue";

// should be reworked
@Component({
  components: {
    NewsListShort
  }
})
export default class Home extends Vue {
  // submit() {
  //   // methodз
  //   // this.addToCounter(Number(this.counter))
  //   // this.counter = 0
  // }
}
</script>
