<template>
  <div>
    <RulesList />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import RulesList from "@/components/RulesList.vue";

export default Vue.extend({
  auth: false,
  components: { RulesList }
});
</script>

<style></style>
