<template>
  <v-container fill-height>
    <v-layout justify-center>
      <v-flex xs12 md7 lg8>
        <v-form
          ref="loginForm"
          v-model="valid"
          lazy-validation
          @submit="submit"
        >
          <v-card>
            <v-card-title>
              <h3>
                {{
                  $t("log-reg." + (isRegistration ? "registration" : "login"))
                }}
              </h3>
            </v-card-title>
            <v-card-text>
              <v-text-field
                v-model.trim="userData.username"
                :label="$t('user.username')"
                prepend-icon="mdi-account-box"
                :rules="formRules.usernameRules(this)"
                required
              />
              <v-text-field
                v-model.trim="userData.password"
                :type="showPassword ? 'text' : 'password'"
                :label="$t('user.password')"
                prepend-icon="mdi-lock"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="formRules.passwordRules(this)"
                required
                @click:append="showPassword = !showPassword"
              />
              <v-text-field
                v-show="isRegistration"
                v-model.trim="userData.repassword"
                :type="showPasswordRe ? 'text' : 'password'"
                :label="$t('user.rePassword')"
                prepend-icon="mdi-lock"
                :append-icon="showPasswordRe ? 'mdi-eye' : 'mdi-eye-off'"
                :required="isRegistration"
                :rules="
                  isRegistration
                    ? formRules.passwordReRules(this, this.userData.password)
                    : []
                "
                @click:append="showPasswordRe = !showPasswordRe"
              />
              <v-text-field
                v-show="isRegistration"
                v-model.trim="userData.email"
                :label="$t('user.email')"
                prepend-icon="mdi-email"
                :rules="isRegistration ? formRules.emailRules(this) : []"
                :required="isRegistration"
              />
              <v-text-field
                v-show="isRegistration"
                v-model.trim="userData.firstName"
                :label="$t('user.firstName')"
                prepend-icon="mdi-clipboard-account"
                :rules="isRegistration ? formRules.nameRules(this) : []"
                :required="isRegistration"
              />
              <v-text-field
                v-show="isRegistration"
                v-model.trim="userData.middleName"
                :label="$t('user.middleName')"
                prepend-icon="mdi-clipboard-account"
                :rules="isRegistration ? formRules.nameRules(this) : []"
                :required="isRegistration"
              />
              <v-text-field
                v-show="isRegistration"
                v-model.trim="userData.lastName"
                :label="$t('user.lastName')"
                prepend-icon="mdi-clipboard-account"
                :rules="isRegistration ? formRules.nameRules(this) : []"
                :required="isRegistration"
              />
            </v-card-text>
            <v-card-actions>
              <v-col class="text-center">
                {{
                  $t(
                    "log-reg." + (isRegistration ? "h" : "dontH") + "aveAccount"
                  )
                }}
                <v-btn
                  outlined
                  text-center
                  class="ma-2 text-center"
                  color="indigo"
                  :to="isRegistration ? '/sign' : '/sign?register'"
                  @click.stop="isRegistration = !isRegistration"
                >
                  {{ $t("log-reg.clickHere") }}
                </v-btn>
              </v-col>

              <v-col>
                <v-btn
                  :loading="loadingButton"
                  :disabled="!valid"
                  color="info"
                  type="submit"
                  block
                >
                  {{
                    $t(
                      "log-reg.action." +
                        (isRegistration ? "register" : "login")
                    )
                  }}
                  <v-icon right>
                    forward
                  </v-icon>
                </v-btn>
              </v-col>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script lang="ts">
import Vue from "vue";
import { authURI } from "@/consts/endpoints";
import { errorHandlerMixin } from "@/utils/errorHandling/errorHandler";
import {
  usernameRules,
  nameRules,
  emailRules,
  passwordRules,
  passwordReRules
} from "../utils/validations/formRules";

export default Vue.extend({
  mixins: [errorHandlerMixin],
  data() {
    return {
      valid: false,
      timeout: 2000,
      isRegistration: this.$nuxt.$route.query.register !== undefined || false,
      loadingButton: false,
      showPassword: false,
      showPasswordRe: false,
      formRules: {
        usernameRules,
        nameRules,
        emailRules,
        passwordRules,
        passwordReRules
      },
      userData: {
        username: "",
        password: "",
        repassword: "",
        firstName: "",
        email: "",
        middleName: "",
        lastName: ""
      },
      errorMessages: {
        register: {
          409: "popups.emailOrUsernameUsed"
        },
        login: {
          401: "popups.unauthorized"
        }
      }
    };
  },
  methods: {
    async register() {
      try {
        await this.$axios.post(authURI.register, this.userData);

        this.$router.push({ path: "sign" });
      } catch (err) {
        this.displayError(err, this.errorMessages.register);
      }
    },
    async login() {
      try {
        await this.$auth.loginWith("local", {
          data: this.userData
        });
      } catch (err) {
        this.displayError(err, this.errorMessages.login);
      }
    },
    submit(e: Event) {
      e.preventDefault();

      if (!this.$refs.loginForm.validate()) {
        return;
      }

      if (this.isRegistration) {
        this.register();
      } else {
        this.login();
      }
    }
  },

  head() {
    return {
      title: this.$nuxt.$t(
        "log-reg." + (this.isRegistration ? "registration" : "login")
      )
    };
  }
});
</script>
