<template>
  <v-container fill-height>
    <v-layout justify-center>
      <v-card height="100%" width="95%">
        <v-card-title>
          <h3>
            {{ $t("settings.to_settings") }}
          </h3>
        </v-card-title>

        <v-card-text>
          <v-row align="center" justify="center" class="v-row">
            <v-col>{{ $t("user.username") }}</v-col>
            <v-col>{{ userInfo.username }}</v-col>
            <v-col />
          </v-row>

          <v-divider />
          <UpdatePassword />
          <v-divider />
          <UpdateMail />
          <v-divider />

          <v-row align="center" justify="center" class="v-row">
            <v-col>{{ $t("user.firstName") }}</v-col>
            <v-col>{{ userInfo.firstName }}</v-col>
            <v-col />
          </v-row>

          <v-divider />

          <v-row align="center" justify="center" class="v-row">
            <v-col>{{ $t("user.lastName") }}</v-col>
            <v-col>{{ userInfo.lastName }}</v-col>
            <v-col />
          </v-row>
        </v-card-text>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import UpdateMail from "@/components/UpdateMail.vue";
import UpdatePassword from "@/components/UpdatePassword.vue";

export default Vue.extend({
  components: {
    UpdateMail,
    UpdatePassword
  },
  data() {
    return {
      valid: false,
      userInfo: {
        username: this.$auth.user.username,
        firstName: this.$auth.user.firstName,
        lastName: this.$auth.user.lastName
      }
    };
  },
  head() {
    return {
      title: this.$nuxt.$t("settings.to_settings")
    };
  }
});
</script>

<style>
.v-row {
  min-height: 8vh;
}
</style>
