<template>
  <div>
    <Project />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Project from "@/components/Project.vue";
export default Vue.extend({
  components: {
    Project
  }
});
</script>

<style></style>
