<template>
  <v-hover v-slot:default="{ hover }">
    <v-card
      tile
      :elevation="hover ? 12 : 2"
      :class="{
        hover: hover,
        active: isActive && !isInMenuMode,
        unread: isUnread
      }"
      @click="clickListItem"
    >
      <v-list-item>
        <v-list-item-content>
          <div>
            <v-list-item-title class="d-inline" v-text="notification.author" />
            <v-list-item-subtitle
              class="d-inline float-right"
              v-text="notification.date"
            />
          </div>
          <v-list-item-subtitle
            class="text--primary"
            v-text="notification.subject"
          />

          <v-list-item-subtitle class="pb-2" v-text="notification.text" />
          <nuxt-link
            v-if="isInMenuMode"
            to="inbox"
            class="text-right text-caption"
          >
            {{ $t("notifications.see_full_notification") }}
          </nuxt-link>
        </v-list-item-content>
      </v-list-item>
      <v-divider :key="`divider-${notification.id}`" />
    </v-card>
  </v-hover>
</template>

<script lang="ts">
import Vue from "vue";
import { mapMutations } from "vuex";
import { Notification } from "@/models/notification";

export default Vue.extend({
  name: "NotificationListItem",
  props: { notification: Notification, isInMenuMode: Boolean },

  computed: {
    isActive(): boolean {
      return (
        this.$store.state.notifications.selectedNotification &&
        this.$store.state.notifications.selectedNotification.id ===
          this.notification.id
      );
    },
    isUnread(): boolean {
      return !this.notification.read;
    }
  },
  methods: {
    ...mapMutations({
      setSelected: "notifications/setSelected",
      setRead: "notifications/setRead"
    }),
    clickListItem() {
      this.setSelected(this.$props.notification);
      this.setRead(this.$props.notification);
      if (this.$props.isInMenuMode) {
        this.$router.push("inbox");
      }
    }
  }
});
</script>

<style>
.active {
  background-color: var(--v-selected-base) !important;
}

.unread {
  background-color: var(--v-unread-base) !important;
}

.hover {
  cursor: pointer;
  background-color: var(--v-hover-base) !important;
}
</style>
