<template>
  <v-container class="pa-0" fluid>
    <v-row>
      <v-col cols="4" class="pr-0">
        <p v-if="notifications.length === 0" class="text-center mt-12">
          {{ $t("notifications.no_notifications") }}
        </p>
        <v-list v-else class="notifications-list height-set-up pb-0">
          <app-notification-list-item
            v-for="notification in notifications"
            :key="notification.id"
            :notification="notification"
            :is-in-menu-mode="false"
          />
        </v-list>
      </v-col>
      <v-divider vertical />
      <v-col>
        <v-container class="notification-container height-set-up">
          <p
            v-if="selectedNotification === undefined"
            align="center"
            class="text-center mt-12"
          >
            {{ $t("notifications.select_notification") }}
          </p>
          <v-container v-else>
            <h3>
              {{ selectedNotification.subject }}
            </h3>

            <p>
              от {{ selectedNotification.author }} -
              {{ selectedNotification.date }}
            </p>

            <p>
              {{ selectedNotification.text }}
            </p>
          </v-container>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import NotificationListItem from "./NotificationListItem.vue";

export default Vue.extend({
  name: "NotificationInbox",
  components: {
    "app-notification-list-item": NotificationListItem
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      notifications: "notifications/getNotifications",
      selectedNotification: "notifications/getSelectedNotification"
    })
  }
});
</script>

<style>
.notifications-list {
  overflow-y: scroll;
}
.notification-container {
  overflow-y: auto;
}
.height-set-up {
  height: 80vh;
}
</style>
