<template>
  <v-menu left offset-y close-on-content-click>
    <template v-slot:activator="{ on }">
      <v-btn class="mx-3" icon text color="primary" v-on="on">
        <v-badge v-if="unreadCount > 0" :content="unreadCount" color="red">
          <v-icon>mdi-bell</v-icon>
        </v-badge>
        <v-icon v-else>
          mdi-bell
        </v-icon>
      </v-btn>
    </template>

    <v-card :width="menuWidth">
      <v-card-title disabled>
        {{ $t("notifications.navigation_title") }}
      </v-card-title>
      <div
        v-if="mostRecentNotifications.length === 0"
        class="my-12 text-center"
      >
        {{ $t("notifications.no_notifications") }}
      </div>
      <v-list v-else>
        <app-notification-list-item
          v-for="notification in mostRecentNotifications"
          :key="notification.id"
          :notification="notification"
          :is-in-menu-mode="true"
        />
      </v-list>
      <div class="pb-2" align="center" disabled>
        <nuxt-link to="inbox" force>
          {{ $t("notifications.to_all") }}
        </nuxt-link>
      </div>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import NotificationListItem from "./NotificationListItem.vue";

export default Vue.extend({
  name: "NotificationsMenu",
  components: {
    "app-notification-list-item": NotificationListItem
  },
  data() {
    return {
      menuWidth: "350px"
    };
  },
  computed: {
    ...mapGetters({
      unreadCount: "notifications/getUnreadCount",
      notifications: "notifications/getNotifications"
    }),
    mostRecentNotifications() {
      return this.notifications.slice(0, 3);
    }
    // Doesn't work for some reason, store.getters returns undefined
    // notifications() {
    //   return this.$store.getters.notifications.getNotifications.slice(0, 3);
    // }
  },
  methods: {}
});
</script>

<style scoped></style>
